body {
    background-image: url("images/dust_scratches.png");
    font-family: 'Raleway', sans-serif;
}
section {
    background: #fff;
    padding: 20px;
    margin-top: 40px;
}
.navbar-brand {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif; 
}
footer.card.col-md-12 {
   margin-top: 60px;
   height: 60px;
   background: #666;
   border-radius: 0px;
}
#pic-1 {
    height: 200px;
    padding: 0px;
    background-image: url("images/pic1.jpg");
    margin: 10px 0px;
    text-align: center;
    line-height: 50px;
    background-repeat: no-repeat;
}
#pic-2 {
    height: 200px;
    padding: 0px;
    background-image: url("images/pic2.jpg");
    margin: 10px 0px;
    text-align: center;
    line-height: 50px;
    background-repeat: no-repeat;
}
#pic-3 {
    height: 200px;
    padding: 0px;
    background-image: url("images/pic3.jpg");
    margin: 10px 0px;
    text-align: center;
    line-height: 50px;
    background-repeat: no-repeat;
}
#pic-4 {
    height: 200px;
    padding: 0px;
    background-image: url("images/pic4.jpg");
    margin: 10px 0px;
    text-align: center;
    line-height: 50px;
    background-repeat: no-repeat;
}
#pic-5 {
    height: 200px;
    padding: 0px;
    background-image: url("images/pic5.jpg");
    margin: 10px 0px;
    text-align: center;
    line-height: 50px;
    background-repeat: no-repeat;
}
.img-title {
    color: #fff;
    height: 50px;
    position: relative;
    top: 130px;
    background: #4aaaa5;
}
.about-img {
    height: 200px;
    background-image: url("images/imgHolder.jpg");
    background-repeat: no-repeat;
}